# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/

# Environment variables
.env

# Data folders
OpenWeatherAPI/data/
logs/

# IDE / OS
*.swp
.DS_Store

#Reports
OpenWeatherAPI/reports/csv/*.csv
OpenWeatherAPI/reports/pdf/*.pdf